html {
  background: black;
}

body {
  background: linear-gradient(#0C0C0A, #3A2136, #5E3769, #6A5E97, #6274A7, #5ABCBE, #84C5B1);
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.logo {
  padding: 3em 4em 0em 4em;
}

#ellipse {
  height: 30em;
}

#title-text {
  position: absolute;
  height: 20em;
  top: 6em;
}

.button {
  height: 4em;
  width: 15em;
  border-radius: 1em;
  margin: 1em;
}

.indiegogo:hover {
  background-color: rgba(90, 188, 190, 0.75);
}

.ticket:hover {
  background-color: rgba(132, 197, 177, 0.75);
}

.ticket {
  background-color: #84C5B1;
}

.indiegogo {
  background-color: #5ABCBE;
}

.links a {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #3A2136;
  font-size: 1.2em;
}

.tagline {
  position: absolute;
  top: 14em;
  left: 2em;
  right: 2em;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.9em;
  padding: 0.5em;
  text-align: center;
  color: white;
}

.artists {
  padding: 2em;
}

#artists-img {
  height: 18em;
}

#featuring-text {
  font-size: 2em;
  font-family: 'Quicksand', sans-serif;
  color: white;
  margin: 1em;
}

.about {
  padding: 4em 5em 0em 5em;
  font-size: 1.2em;
  color: white;
  line-height: 1.5;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

#silhouette {
  width: 130%;
}

.sponsors {
  padding-bottom: 3em;
  align-self: flex-end;
  position: absolute;
}

.sponsor-img {
  height: 2em;
}

.row1 .sponsor-img {
  height: 2.5em;
  margin: 1em;
}

.row2 .sponsor-img {
  height: 4em;
  margin: 1em;
}

#pmu-logo {
  height: 2.5em;
}

@media (max-width: 1000px) {
  .row1 .sponsor-img {
    height: 2em;
    margin: .7em;
  }
  .row2 .sponsor-img {
    height: 3em;
    margin: .8em;
  }
  #pmu-logo {
    height: 2.3em;
  }
  .sponsors {
    padding-bottom: 3em;
  }
}

@media (max-width: 890px) {
  #ellipse {
    height: 26em;
  }
  #title-text {
    position: absolute;
    height: 18em;
    top: 5em;
  }
  .button {
    height: 3em;
    width: 12em;
    border-radius: 1em;
    margin: 1em;
  }
  .logo {
    padding: 3em 4em 3em 4em;
  }
  .tagline {
    position: absolute;
    top: 16em;
    font-size: 1.5em;
    padding: 0.5em;
  }
  #artists-img {
    height: 12em;
  }
  .about {
    padding: 2em 4em 0em 4em;
  }
}

@media (max-width: 750px) {
  .sponsors {
    padding-bottom: 1em;
  }
}

@media (max-width: 630px) {
  #ellipse {
    height: 20em;
  }
  #title-text {
    height: 13em;
  }
  .button {
    height: 3em;
    width: 14em;
    margin: 1em;
  }
  .logo {
    padding: 3em 4em 3em 4em;
  }
  .tagline {
    position: absolute;
    top: 15em;
    font-size: 1.3em;
    padding: 0.5em;
  }
  #artists-img {
    height: 10em;
  }
  .about {
    padding: 2em 4em 0em 4em;
  }
  .links {
    padding: 2em 2em 0em 2em;
  }

  .bottom {
    font-size: .5em;
  }
  .sponsors {
    padding-bottom: .5em;
  }
}

@media (max-width: 570px) {
  .row1 .sponsor-img {
    height: 1.5em;
    margin: .7em;
  }
  .row2 .sponsor-img {
    height: 2.2em;
    margin: .8em;
  }
  #pmu-logo {
    height: 1.7em;
  }
  .sponsors {
    padding-bottom: .4em;
  }
}

@media (max-width: 500px) {
  #ellipse {
    height: 16em;
  }
  #title-text {
    position: absolute;
    height: 10em;
  }
  .button {
    height: 3em;
    width: 14em;
    border-radius: 1em;
    margin: 1em;
  }
  .tagline {
    position: absolute;
    top: 14em;
    font-size: 1.3em;
    padding: 0.5em;
  }
  #artists-img {
    height: 9em;
  }
  .links {
    padding: 4em 4em 2em 4em;
  }
  .row1 .sponsor-img {
    height: 1.3em;
    margin: .5em;
  }
  .row2 .sponsor-img {
    height: 2em;
    margin: .5em;
  }
  #pmu-logo {
    height: 1.5em;
  }
  .sponsors {
    padding-bottom: 1em;
  }
}

@media (max-width: 450px) {
  .about {
    font-size: 1em;
  }
  #artists-img {
    height: 8em;
  }
}

@media (max-width: 415px) {
  .about {
    font-size: .8em;
  }
  .logo {
    padding-top: 6em;
  }
  #title-text {
    top: 8em;
  }
  .tagline {
    top: 16em;
  }
  .links {
    padding-bottom: 2.5em;
  }
  .row1 .sponsor-img {
    height: 1.2em;
    margin: .4em;
  }
  .row2 .sponsor-img {
    height: 1.9em;
    margin: .3em;
  }
  #pmu-logo {
    height: 1em;
  }
  .sponsors {
    padding-bottom: .8em;
  }
}

/* iphone 6/7/8 */
@media (max-width: 376px) and (max-height: 668px) {
  .logo {
    padding-top: 3em;
  }
  #title-text {
    top: 5em;
  }
  .tagline {
    top: 13em;
  }
  .artists {
    padding-top: 0;
  }
  #artists-img {
    height: 7em;
  }
  .links {
    padding-bottom: 2em;
  }
}

/* iphone 10, pixel 2XL */
@media (max-width: 412px) and (min-height: 812px) {
  .logo {
    padding-top: 6em;
  }
  #title-text {
    top: 7em;
  }
  .tagline {
    top: 15em;
  }
  .artists {
    padding-top: 0;
  }
  #artists-img {
    height: 7em;
  }
  .links {
    padding: 6em;
  }
}

/* iphone 5 */
@media (max-width: 325px) {
  .logo {
    padding: 3em;
  }
  #title-text {
    top: 4.5em;
    height: 9em;
  }
  #ellipse {
    height: 14em;
  }
  .tagline {
    top: 15em;
    font-size: 1em;
  }
  .artists {
    padding: 0em 1em;
  }
  #artists-img {
    height: 6em;
  }
  .links {
    padding: 2em;
  }
  #featuring-text {
    font-size: 1.5em;
  }
  .about {
    font-size: .8em;
    padding: 2em;
  }
  .button {
    width: 14em;
    height: 3em;
    font-size: .8em;
  }
}
