<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>WestWoodstock</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="logo">
      <img src="/assets/ellipse.png" alt="">
      <img id="title-text" src="/assets/title.png" alt="">
      <div class="tagline">
        A FREE UCLA STUDENT MUSIC FESTIVAL HOSTED IN THE HEART OF WESTWOOD, FEATURING:
      </div>
    </div>
    <div class="artists">
      <img id="artists-img" src="/assets/artists.png" alt="">
    </div>
  </body>
</html>
